#startmenu{
    z-index: 999;
    min-height: 350px;
    max-height: 400px;
    text-align: center;
    border: solid 2px black;
    position: relative;
    


}
.startmenubuttons{
    position: relative;
    margin-top: 8%;
}
#backbutton{
    visibility: hidden;
}
#startgamebutton{
    
    background-color: red;
}
#stopwatch {
    display: none;
}
#gameplate{
    z-index: 998;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 350px;
    max-height: 400px;
    text-align: center;
    background-color: aquamarine;
    border: solid 1px black;
    visibility: hidden;
}
a[id*=questionpic]{
    padding: 5px;
}
a[id*=questiontext]{
    padding: 5px;
}
a[id*=operator]{
    padding: 5px;
}
#questiontext2,
#questionpic2,
#operator,
#operatortext{
    display: none;
}
.buttonchoices{
    display: block;
}
.questionimages{
    image-rendering:pixelated;
    max-width: 100%;
    max-height: 200px;
}
#questionpic1{
    object-fit: fill;
}